<%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/navbar')%>
  
  <div class="container mt-5">
    <%- include('../partials/flash') %>
    <h1><%= pageTitle %></h1>
  </div>
  <main class="container py-5 full-height">
    <div class="row mb-5">
      <div class="col-12 d-flex justify-content-center">
        <a
          href="/user/<%= user._id %>/orders"
          class="btn btn-outline-dark btn-large mx-1"
        >
          <i class="fas fa-clipboard-list me-2"></i>
          Orders
        </a>
        <a
          href="/user/<%= user._id %>/settings"
          class="btn btn-outline-dark btn-large mx-1"
        >
          <i class="fas fa-cog me-2"></i>
          Settings
        </a>
      </div>
    </div>
 

  

<%- include('../partials/end')%>