<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/auth/orders.css" />

</head>

<body>
  <%- include('../partials/navbar')%>

  
  <main class="main-container">
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb ms-3 mt-2 font-sz-sm">
        <li class="breadcrumb-item">
          <a href="/user/<%=user._id %>" class="link font-sz-sm">Your Account</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= pageTitle %></li>
      </ol>
    </nav>
    
    <div class="container mt-5">
      <h1><%= pageTitle %></h1>
      <div class="accordion my-5" id="ordersAccordion">
        <% if (orders.length > 0) { %> <% orders.forEach((order, key) => { %>
        <div class="accordion-item">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#order1Collapse<%= key %>"
            aria-expanded="false"
            aria-controls="order1Collapse<%= key %>"
          >
            <h5
              class="accordion-header overflow-hidden"
              id="order1Heading<%= key %>"
            >
              <%= order.createdAt.toLocaleDateString("en-US", {month: 'short', day:
              'numeric', year: 'numeric'}) %> - Order #<%= order._id %>
            </h5>
          </button>
          <div
            id="order1Collapse<%= key %>"
            class="accordion-collapse collapse"
            aria-labelledby="order1Heading"
            data-bs-parent="#ordersAccordion"
          >
            <div class="accordion-body">
              <ul class="link-list">
                <% order.products.forEach(p => { %>
                <li>
                  <div class="order-card">
                    <div class="order-product-image">
                      <img
                        src="/<%= p.product.image %> "
                        alt="<%= p.product.title %>"
                      />
                    </div>
                    <div>
                      <div class="order-card-title"><%= p.product.title %></div>
                      <div>Quantity: <%= p.quantity %></div>
                    </div>
                  </div>
                </li>
                <% }) %>
                <b>Order Total: $<%= order.totalDetails.total %></b>
              </ul>
              <a
                href="/user/<%=user._id %> /orders/<%=order._id %> "
                class="btn btn-outline-dark"
              >
                Invoice
              </a>
            </div>
          </div>
        </div>
        <% }) %> <% } else { %>
        <div class="order-nothing">Nothing Here</div>
        <% } %>
      </div>
    </div>
    
  
    


<%- include('../partials/end')%>

