<%- include ('../includes/head.ejs') %> 
  </head>
  <body>
    <%- include ('../includes/nav.ejs') %> 
    <div class="page-wrap">
      <div class="content">
        <div class="nav-spacer"></div>
        <h1><%= pageTitle  %> </h1>
        <% if (errorMessage) {%>
          <div class="user-message user-message--error"><%= errorMessage %> </div>
         <% } %>
        <div>
          <form class="user-reset-main" action="/reset" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-control">
                <label for="currentPassword">Current Password</label>
                <input type="password" name="currentPassword" id="currentPassword">
            </div>
            <div class="form-control">
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" id="newPassword">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-primary" type="submit">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
    <%- include ('../includes/footer.ejs')  %> 

    <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function(){
      emailjs.init('<%=publicKey%>');
    })();
    </script>
  </body>
</html>