<% layout('layouts/boilerplate')%>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar Navigation -->
    <%- include('../partials/sidebar')%>

    <div class="col-lg-10 content">
      <div class="my-5">
        <h1 class="center-title"><%= pageTitle %></h1>
      </div>

      <% if (hasError) {%>
      <p class="text-danger"><%= errorMessage %></p>
      <%} %>

      <!-- Best Sellers List Section -->

      <div class="container-lg mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-xl-6">
            <h2>Best Sellers List</h2>
            <% if (bestSellers && bestSellers.length > 0) { %>
            <ol id="sortable-list" class="list-group cursor-grab">
              <% for (let i = 0; i < bestSellers.length; i++) { %>
              <li
                class="list-group-item d-flex justify-content-between hover-opacity"
                data-id="<%= bestSellers[i].productId._id %>"
              >
                <div class="d-flex">
                  <b id="orderNumber"><%= bestSellers[i].order %></b>
                  <div class="ms-3">
                    <%= bestSellers[i].productId.title %> - $<%=
                    bestSellers[i].productId.price %>
                  </div>
                </div>
                <input
                  type="hidden"
                  name="productId"
                  value="<%= bestSellers[i].productId._id %>"
                />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  onclick="removeBestSeller(this)"
                >
                  Remove
                </button>
              </li>
              <% } %>
            </ol>
            <% } else { %>
            <p>No products in the Best Sellers list.</p>
            <% } %>
          </div>
        </div>
      </div>

      <!-- Available Products Section -->

      <div class="container-lg">
        <div class="row d-flex justify-content-center">
          <div class="col-xl-9">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col-1">Product</th>
                  <th scope="col" class="d-none d-md-table-cell"></th>
                  <th scope="col-1">Add</th>
                </tr>
              </thead>
              <tbody>
                <% for( let product of products ) { %>
                <tr>
                  <!-- IMAGE -->
                  <td class="col-1 d-none d-md-table-cell">
                    <div class="cart-product-image">
                      <img
                        class="img-fluid d-block mx-auto"
                        src="/<%= product.image %>"
                        alt="<%= product.title %>"
                      />
                    </div>
                  </td>

                  <!-- DETAILS -->
                  <td class="col">
                    <p><%= product.title %></p>
                    <p class="cart-product-price">$<%= product.price %></p>
                  </td>

                  <!-- ADD TO BEST SELLERS -->
                  <td class="col-3">
                    <form action="/admin/best-sellers/add" method="POST">
                      <div class="form-group">
                        <input
                          type="hidden"
                          value="<%= product._id %>"
                          name="productId"
                        />
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <button class="btn btn-outline-dark" type="submit">
                          Add To List
                        </button>
                      </div>
                    </form>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>

            <%- include('../includes/pagination.ejs', { currentPage:
            currentPage, hasNextPage: hasNextPage, hasPreviousPage:
            hasPreviousPage, nextPage: nextPage, previousPage: previousPage,
            lastPage: lastPage, path: path, }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
