<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/partials/sidebar.css" />
</head>

<body>
  <%- include('../partials/navbar')%>
  
  <div class="center-container">
    <main class="main-container">
      <div class="d-flex admin-responsive">
        <%- include('../partials/sidebar')%>
        <div class="full-height py-5 w-100">


          <div class="mb-3">
            <h1 class="center-title"><%= pageTitle %></h1>
          </div>
    
          
          <div class="container px-3">
            <!-- Best Sellers List Section -->
            <div class="row pt-3">
              <div class="col-lg-6 mb-3">
                <%- include('../partials/flash') %>
                <h4 class="mb-3">Best Sellers List</h4>
                <% if (bestSellers && bestSellers.length > 0) { %>
                <ol id="sortable-list" class="list-group cursor-grab">
                  <% for (let i = 0; i < bestSellers.length; i++) { %>
                  <li
                    class="list-group-item d-flex justify-content-between hover-opacity"
                    data-id="<%= bestSellers[i].productId._id %>"
                  >
                    <div class="d-flex">
                      <b id="orderNumber"><%= bestSellers[i].order %></b>
                      <div class="ms-3">
                        <%= bestSellers[i].productId.title %> - $<%=
                        bestSellers[i].productId.price %>
                      </div>
                    </div>
                    <input
                      type="hidden"
                      name="productId"
                      value="<%= bestSellers[i].productId._id %>"
                    />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      onclick="removeBestSeller(this)"
                    >
                      Remove
                    </button>
                  </li>
                  <% } %>
                </ol>
                <% } else { %>
                <p>No products in the Best Sellers list.</p>
                <% } %>
              </div>



            <!-- Available Products Section -->

        
              <div class="col-lg-6">
                <h4 class="mb-3">Add Products to Best Sellers</h4>
                <form action="/admin/best-sellers" method="POST" class="needs-validation" novalidate>
                  <div class="form-group">
                    <label for="product" class="d-none"></label>
                    <select
                      class="form-select"
                      id="product"
                      name="productId"
                      required
                    >
                      <option value="" selected disabled>Select a product</option>
                      <% products.forEach((product) => { %>
                      <option value="<%= product._id %>">
                        <%= product.title %>
                      </option>
                      <% }) %>
                    </select>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <button type="submit" class="btn btn-outline-dark mt-3">
                    Add Product to Best Sellers
                  </button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
 


  <script src="/js/collapse-menu.js"></script>
  <script src="/js/admin.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
  <script src="/js/sortable.js"></script>
<%- include('../partials/end')%>
