<% layout('layouts/boilerplate')%>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar')%>

    <div class="col-lg-10 content">
      <div class="my-5">
        <h1 class="center-title"><%= pageTitle %></h1>
      </div>

      <!-- Add New Category Section -->
      <div class="container-lg mt-4">
        <div class="row mx-5">
          <div class="col-lg-4">
            <h2>Add New Category</h2>
            <form action="/admin/categories" method="POST">
              <div class="form-group">
                <label for="title"></label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  placeholder="Category name"
                  required
                />
              </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit" class="btn btn-outline-dark mt-3">
                Add Category
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- Edit Categories Section -->
      <div class="container-lg my-5">
        <div class="row mx-5">
          <div class="col-12">
            <% if (categories) { %>
            <div class="row align-items-start">
              <% for (let category of categories) { %>
              <article class="col-lg-4 mb-4">
                <div class="card">
                  <p
                    class="d-block text-dark text-decoration-none py-2 my-0 category-name"
                  >
                    <%= category.title %>
                  </p>
                  <!-- List all products in this category -->
                  <ul class="list-group">
                    <% for (let product of category.products) { %>
                    <li class="list-group-item">
                      <%= product.productId.title %>
                    </li>
                    <% } %>
                  </ul>
                  <div class="btn-row my-2">
                    <a href="/admin/categories/<%= category._id %>/">
                      <button type="button" class="btn btn-outline-dark">
                        Edit Category
                      </button>
                    </a>
                    <input
                      type="hidden"
                      name="categoryId"
                      value="<%= category._id %>"
                    />
                    <input
                      type="hidden"
                      name="_csrf"
                      value="<%= csrfToken %>"
                    />
                    <button
                      class="btn btn-outline-danger"
                      type="button"
                      onclick="deleteCategory(this)"
                    >
                      Delete Category
                    </button>
                  </div>
                </div>
              </article>
              <% } %>
            </div>
            <% } else { %>
            <p>No categories found.</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
