<% layout('layouts/boilerplate')%>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar') %>

    <div class="col-lg-10 content">
      <div class="my-5">
        <h1 class="center-title"><%= pageTitle %></h1>
      </div>
      <div class="container-lg">
        <div class="row mx-5">
          <div class="col-12">
            <% if (products) { %>
            <div class="row align-items-start">
              <% for( let product of products ) { %>
              <article class="col-lg-4 mb-4">
                <div class="card">
                  <a href="/admin/edit-products/<%= product._id %>?edit=true">
                    <div class="product-img">
                      <img
                        class="img-fluid d-block mx-auto img-hover"
                        src="/<%= product.image %>"
                        alt="<%= product.title %>"
                      />
                    </div>
                  </a>
                  <p
                    href="#"
                    class="d-block text-dark text-decoration-none py-2 my-0 product-name"
                  >
                    <%= product.title %>
                  </p>
                  <span class="product-price">$<%= product.price %></span>
                  <div class="btn-row my-2">
                    <a href="/admin/edit-products/<%= product._id %>?edit=true">
                      <button type="button" class="btn btn-outline-dark">
                        Edit
                      </button>
                    </a>

                    <input
                      type="hidden"
                      value="<%= product._id %>"
                      name="productId"
                    />
                    <input
                      type="hidden"
                      name="_csrf"
                      value="<%= csrfToken %>"
                    />
                    <button
                      class="btn btn-outline-dark"
                      type="button"
                      onclick="deleteProduct(this)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </article>
              <% } %>
            </div>
            <%- include('../includes/pagination.ejs', { currentPage:
            currentPage, hasNextPage: hasNextPage, hasPreviousPage:
            hasPreviousPage, nextPage: nextPage, previousPage: previousPage,
            lastPage: lastPage, path: path, }) %> <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
