<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/partials/sidebar.css" />
<link rel="stylesheet" href="/css/admin/index.css" />
</head>

<body>
  <%- include('../partials/navbar')%>
  <div class="center-container">
    <main class="main-container">
      <div class="d-flex admin-responsive">
        <%- include('../partials/sidebar')%>
        <div class="full-height py-5 w-100">


          <div class="mb-3">
            <h1 class="center-title"><%= pageTitle %></h1>
          </div>

          <%- include('../partials/flash') %>
    
          <div class="container d-flex justify-content-center">
            <div class="row admin-card w-75">
              <div class="text-center col-md-4 my-3">
                <div class="admin-number">
                  <a href="/admin/orders" class="link">
                    <%= numOrders %>
                  </a>
                </div>
                <div class="admin-label">Orders</div>
              </div>
              <div class="text-center col-md-4 my-3">
                <div class="admin-number">
                  <a href="/admin/products" class="link">
                    <%= numListed %>
                  </a>
                </div>
                <div class="admin-label">Listed</div>
              </div>
              <div class="text-center col-md-4 my-3">
                <div class="admin-number d-flex justify-content-center">
                  $<%=profit%>
                </div>
                <div class="admin-label">Profit</div>
              </div>
            </div>
          </div>
        </div>
      </div>

 

  
  <script src="/js/collapse-menu.js"></script>
<%- include('../partials/end')%>