<% layout('layouts/boilerplate')%>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar')%>
    <div class="col-lg-10 content">
      <div class="my-5">
        <h1 class="center-title"><%= pageTitle %></h1>
      </div>

      <div class="container d-flex justify-content-center">
        <div class="row admin-card w-75">
          <div class="text-center col-lg-4 my-3">
            <div class="admin-number"><%= numOrders %></div>
            <div class="admin-label">Orders</div>
          </div>
          <div class="text-center col-lg-4 my-3">
            <div class="admin-number"><%= numListed %></div>
            <div class="admin-label">Listed</div>
          </div>
          <div class="text-center col-lg-4 my-3">
            <div class="admin-number d-flex justify-content-center">
              $<%=profit%>
            </div>
            <div class="admin-label">Profit</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
