<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/partials/sidebar.css" />
</head>

<body>
  <%- include('../partials/navbar')%>
  
  <main class="w-100">
    <div class="container-fluid px-0">
      <div class="row g-0">
        <%- include('../partials/sidebar')%>
        <div class="col-md-9 col-lg-10 my-5">
          <%- include('../partials/flash') %>
          <div class="mb-3">
            <h1 class="center-title"><%= pageTitle %></h1>
          </div>
    
          <div class="container px-3">
            <div class="col-lg-10 offset-lg-1">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col-1">Product</th>
                    <th scope="col" class="d-none d-md-table-cell"></th>
                    <th scope="col-1">Edit</th>
                    <th scope="col-1">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% for( let product of products ) { %>
                  <tr>
                    <!-- IMAGE -->
                    <td class="col-1 d-none d-md-table-cell">
                      <a href="/admin/products/<%= product._id %>?edit=true">
                        <div class="table-image">
                          <img
                            class="img-fluid d-block mx-auto hover-scale"
                            src="/<%= product.image %>"
                            alt="<%= product.title %>"
                          />
                        </div>
                      </a>
                    </td>
    
                    <!-- DETAILS -->
                    <td>
                      <p><%= product.title %></p>
                      <p class="cart-product-price">$<%= product.price %></p>
                    </td>
    
                    <!-- EDIT -->
                    <td class="col-1">
                      <a
                        class="btn btn-outline-dark"
                        href="/admin/products/<%= product._id %>?edit=true"
                      >
                        Edit
                      </a>
                    </td>
    
                    <!-- DELETE -->
                    <td class="text-end col-1">
                      <input
                        type="hidden"
                        value="<%= product._id %>"
                        name="productId"
                      />
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                      <button
                        class="btn btn-outline-danger"
                        type="button"
                        onclick="deleteProduct(this)"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <%- include('../includes/pagination.ejs', { currentPage: currentPage,
          hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage, nextPage:
          nextPage, previousPage: previousPage, lastPage: lastPage, path: path, })
          %>
        </div>
      </div>
    </div>
 

  
  <script src="/js/collapse-menu.js"></script>
<%- include('../partials/end')%>

