<section class="d-flex justify-content-center my-5">
  <% if (currentPage !== 1 && previousPage !== 1) { %>
  <a class="btn btn-outline-dark" href="<%= path %>/?page=1">1</a>
  <% } %> <% if (hasPreviousPage) { %>
  <a class="btn btn-outline-dark" href="<%= path %>/?page=<%= previousPage %>"
    ><%= previousPage %>
  </a>
  <% } %>
  <a
    class="active btn btn-outline-dark mx-1"
    href="<%= path %>/?page=<%= currentPage %>"
    ><%= currentPage %>
  </a>
  <% if (hasNextPage) { %>
  <a class="btn btn-outline-dark" href="<%= path %>/?page=<%= nextPage %>"
    ><%= nextPage %>
  </a>
  <% } %> <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
  <a class="btn btn-outline-dark" href="<%= path %>/?page=<%= lastPage %>"
    ><%= lastPage %></a
  >
  <% } %>
</section>
