<%- include ('../includes/head.ejs') %> 
  </head>
  <body>
    <%- include ('../includes/nav.ejs') %> 
    <div class="page-wrap">
      <div class="content">
        <div class="nav-spacer"></div>
        <h1><%= pageTitle  %> </h1>
        <div class="cart-main">
          <div class="cart-list">
            <% if (products.length > 0) { %>
              <% products.forEach(p => { %>
                <div class="cart-card">
                  <div class="cart-product-info">
                    <div class="cart-product-image" >
                      <img src="<%= p.productId.image %> " alt="<%= p.productId.title %>" >
                    </div>
                    <div class="cart-product-detail">
                      <div class="cart-product-title"><%= p.productId.title %></div>
                      <div>
                        <form class="cart-product-update" action="/cart-update-item" method="POST">
                          <input type="hidden" value="<%= p.productId._id %>" name="productId" >
                          <label for="qty">Qty:</label>
                          <input name="qty" type="number" class="cart-product-qty" value="<%= p.quantity %>"></input>
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button type="submit" class="btn-primary slim">Update</button>
                        </form>
                        <form class="cart-product-delete" action="/cart-delete-item" method="POST">
                          <input type="hidden" value="<%= p.productId._id %>" name="productId" >
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <a onclick="this.parentNode.submit()">Delete</a>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="cart-product-price">$<%= p.productId.price %></div>
                </div>
              <% }) %>  
              <% } else { %>
                <div class="cart-card-no">
                  <h2>No Products in Cart</h2>
                </div>
              <% } %>
              </div>
          <div class="cart-subtotal">
            Subtotal (<%= totalQty %> items): $<%= totalPrice %> 
              <a href="/checkout">
                <button class="btn-primary">Checkout</button>
              </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include ('../includes/footer.ejs')  %> 
</html>