<%- include ('../includes/head.ejs') %> 
  </head>
  <body>
    <div class="page-wrap">
      <%- include ('../includes/nav.ejs') %> 
      <div class="content">
        <div class="nav-spacer" /></div>
        <div class="home-title">
          <h1><%= pageTitle  %> </h1>
          <h3>The world's greatest marketplace</h3>
        </div>
        <% if (products) { %>
          <div class='products'>
              <% for( let product of products ) { %>
                <div class="card">
                  <div class="products-title">
                    <%= product.title %> 
                  </div>
                  <div class="products-price">
                    $<%= product.price %> 
                  </div>
                  <div class="products-image">
                    <img src="<%= product.image %> " alt="<%= product.title %> ">
                  </div>
                  <div class="products-description">
                    <%= product.description %> 
                  </div>
                </div>
              <% } %>
          </div>
        <% } %>
      </div>
    </div>
    <%- include ('../includes/footer.ejs')  %> 
  </body>
</html>