<% layout('layouts/boilerplate')%>

<div class="container">
  <div class="row my-5">
    <h1 class="">Shop All Products</h1>
  </div>

  <% if (products) { %>
    <div class="row g-4 my-5 mx-auto">
          <% for( let product of products ) { %>
            <div class="col product-item mx-auto">
            <a href="/shop/<%= product._id %>">
              <div class="product-img">
                <img class="img-fluid d-block mx-auto" src="<%= product.image %>" alt="<%= product.title %>" />
              </div>
            </a>
            <a
            href="#"
            class="d-block text-dark text-decoration-none py-2 product-name"
            ><%= product.title %></a>
          <span class="product-price">$<%= product.price %></span>
          <span class="product-description"><%= product.description %></span>

            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
          </div>
          <% } %>
        </div>
        <%- include('../includes/pagination.ejs', { currentPage: currentPage,
        hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage, nextPage:
        nextPage, previousPage: previousPage, lastPage: lastPage, path: null }) %>
        <% } %>
    </div>
</div>

<div class="content">
  <div class="home-title">
 
  </div>
</div>
