<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/shop/index.css" />
  <link rel="stylesheet" href="/vendor/owl.carousel.css" />
  <link rel="stylesheet" href="/vendor/owl.theme.default.css" />
</head>

<body>
  <%- include('../partials/navbar')%>
  <main>

    <%- include('../partials/flash') %>

    <div class="my-5">
      <h1 class="center-title"><%= pageTitle %></h1>
    </div>
    <div class="category-links collapse-menu">
      <a href="/shop-all">All</a>
      <a href="/shop/best-sellers">Best Sellers</a>
      <% if (categories) { %> <% for( let category of categories ) { %>
      <a href="/shop/<%=category.title.toLowerCase() %>"><%=category.title%></a>
      <% } %> <% } %>
      <button
        class="category-links-toggle collapse-menu-toggle"
        onclick="toggleLinks()"
      >
        Show
      </button>
    </div>
    <div class="container-lg">
      <div class="row mx-5">
        <!-- Products List -->
        <div class="col-12">
          <% if (products) { %>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 align-items-start">
            <% for( let product of products ) { %>
            <div class="col mb-4">
              <div class="card">
                <a href="/shop-all/<%= product._id %>">
                  <div class="product-img">
                    <img
                      class="img-fluid d-block mx-auto img-hover"
                      src="/<%= product.image %>"
                      alt="<%= product.title %>"
                    />
                  </div>
                </a>
                <p
                  href="#"
                  class="d-block text-dark text-decoration-none py-2 my-0 product-name"
                >
                  <%= product.title %>
                </p>
                <span class="product-price">$<%= product.price %></span>
                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
              </div>
            </div>
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
    
      <%- include('../includes/pagination.ejs', { currentPage: currentPage,
      hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage, nextPage:
      nextPage, previousPage: previousPage, lastPage: lastPage, path: path, }) %>
    </div>
    

    <script src="/vendor/owl.carousel.js"></script>
<%- include('../partials/end')%>


