<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/shop/shop.css" />
</head>

<body>
  <%- include('../partials/navbar')%>

  <div class="my-5">
    <h1 class="center-title"><%= pageTitle %></h1>
  </div>
  <div class="category-links collapse-menu">
    <a href="/shop-all">All</a>
    <a href="/shop/best-sellers">Best Sellers</a>
    <% if (categories) { %> <% for( let category of categories ) { %>
    <a href="/shop/<%=category.title.toLowerCase() %>"><%=category.title%></a>
    <% } %> <% } %>
    <button
      class="category-links-toggle collapse-menu-toggle"
      onclick="toggleLinks()"
    >
      Show
    </button>
  </div>

  <main class="main-container">


    <div class="container-lg">
      <div class="row p-3">
        <!-- Products List -->
        <div class="col-12">
          <% if (products) { %>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 align-items-start">
            <% for( let product of products ) { %>
            <div class="col mb-4">
              <div class="card outline-dark">
                <a href="/shop-all/<%= product._id %>">
                  <div class="overflow-hide">
                    <img
                      class="img-fluid d-block mx-auto hover-scale"
                      src="/<%= product.image %>"
                      alt="<%= product.title %>"
                    />
                  </div>
                </a>
                <p
                  href="#"
                  class="d-block text-dark text-decoration-none py-2 my-0 overflow-hide"
                >
                  <%= product.title %>
                </p>
                <span class="product-price">$<%= product.price %></span>
                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
              </div>
            </div>
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
    
      <%- include('../includes/pagination.ejs', { currentPage: currentPage,
      hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage, nextPage:
      nextPage, previousPage: previousPage, lastPage: lastPage, path: path, }) %>
    </div>

    <script src="/js/collapse-menu.js"></script>
<%- include('../partials/end')%>


